* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}


html {
    scroll-behavior: smooth;

}

/*html, body {
	height: 100%;

}*/

/*.clear:after {
    content: " ";
    clear: both;
    display: block;
}*/

/*#container {
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 2px;
}*/


/*HOMEPAGE*/


#jumbotron-section h1, p {
	color: white;
	letter-spacing: 5px;
}

#jumbotron-section h1 {
	letter-spacing: 5px;
	font-size: 15em;
	border: 10px solid #076B82;
	color: white;
	z-index: 100;
	font-size: 12em;

}

#jumbotron-section {
	margin-left: -20px;
	margin-right:  -13px;
}


#jumbo-div {
	/*background-color: black;*/
	/*padding-top: 15%;*/
	/*background: url(https://media.giphy.com/media/12CZbn6M6cgDkc/giphy.gif)*/
	background: url(https://media.giphy.com/media/6eWbWHX4m3xD2/giphy.gif);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	height: 90vh;
	border-radius: 0; /*to remove jumbotron's round corners*/
	padding: 0;
}

#jumbotron-cover {
	
}

#navbar {
	color: white;

}

#jumbotron-section {
    color: none;
    font-weight: 600;
    margin: 2rem 3rem 0;
    z-index: 100;
    padding: 5px 15px;
    text-align: center;
    background-color: black;
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
}


#navbar {
	padding-bottom: 0;
}

#container {
	padding: 0;
}


#navbar-overlay a {
	/*background: url(https://media.giphy.com/media/xTiTnF8aH3peHi1to4/giphy.gif);*/
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 25px;
	padding-bottom: 0;
	margin-bottom: 0;
	letter-spacing: .2em;
	background-color: aqua;
}


#navbar-nav {
	background: aqua;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 20px;
}

#home-tourintro {
	background-color: #076B82;
	height: 100%;
	padding-top: 30px;
}

#home-tourintro h1, p {
	color: black;
	text-align: justify;
	padding: 0px 20px;
}

#navbar-nav a {
	margin-left: 50px;
	word-spacing: 5px;
}

/*#jumbotron-section img {*/
/*	width: 35%;
	height: 55%;*/
/*	position: fixed;
	bottom: 0.5;
	margin: 0 auto;
	z-index: 100;
	opacity: 1;

}*/

/*#jumbotron-section {
	position: relative;
	background-repeat: no-repeat;
	background-attachment: fixed;
}*/

#home-meetpicture {
	height: 100vh;
	background-image: url(../images/crossroads.jpg);
	background-size: cover;
}

#home-whowhy, #home-whatwhere, #home-projectclient, #home-community, #who {
	height: 93vh;
	background-color: #076B82;
}

#home-whowhypicture {
	height: 100vh;
	background-image: url(../images/aboutus.jpeg);
	background-size: cover;
}

#home-whatwherepicture {
	height: 100vh;
	background-image: url(../images/open.jpeg);
	background-size: cover;
}

#home-projectclientpicture {
	height: 100vh;
	background-image: url(../images/marketingagency.jpg);
	background-size: cover;
}

#home-communitypicture {
	height: 100vh;
	background-image: url(../images/community.jpeg);
	background-size: cover;
}

#home-joinpicture {
	height: 100vh;
	background-image: url(../images/join.jpeg);
	background-size: cover;
}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6 {
  position:relative;
  background-position:center;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

/*End of HOMEPAGE*/


/*WHO PAGE*/

#container-who {
}

#testrow {
	margin:0;
}

#who {
	height: 100vh;
}

#who h1 {
	text-align: center;
}

#who-carousel .carousel-indicators {
	height: 100vh;
}

#who-carousel img {
	height: 95vh;
	width: 100vw;
}


#missionpicture img {
	height: 420px;
	border: 0;
}

#missioncolone {
	padding: 0;
}

#colmissiontwo{
	padding: 0;
}

#mission-vision {
	max-width: 100%;
}

#meettheteam, #adhead, #crehead, #other-team {
	background-color: #076B82;
}

#adheadchead p {
	margin-bottom: 0;
}

#meettheteam p {
	margin-bottom: 0;
}










/*::-webkit-scrollbar {
	display: none;
}*/




