* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}


html {
    scroll-behavior: smooth;
    height: 100%;

}

body {
/*	perspective: 1px;
	transform-style: preserve-3d;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;*/
}


/*.clear:after {
    content: " ";
    clear: both;
    display: block;
}*/

/*nav {
	padding: 1px;
}*/

#jumbotron-section h1, p {
	color: white;
	letter-spacing: 5px;

}

#jumbotron-section h1 {
	letter-spacing: 5px;
	font-size: 15em;
	border: 10px solid white;

}

#jumbotron-section {
	/*min-height: 100vh;
	padding: 30vw 0 5vw;
	position: relative;
	transform-style: inherit;
	width: 100vw;*/

	margin-left: -20px;
	margin-right:  -13px;
}

#jumbo-div {
	/*background-color: black;*/
	/*padding-top: 15%;*/
	background: url(https://media.giphy.com/media/12CZbn6M6cgDkc/giphy.gif);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	height: 92vh;
	border-radius: 0; /*to remove jumbotron's round corners*/
}

#jumbotron-cover {
	
}

#navbar {
	color: white;
}

nav img {
	height: 50px;
	width: 100px;
	padding-bottom: 10px;
}
/*#jumbotron-section {
	position: relative;
}*/
/*video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
     z-index: -100;
}*/

.overlay {
/*  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;*/
}


#jumbotron-section {
	/*background-color: red;*/
/*	background: none;
    color: none;*/
    font-weight: 600;
    margin: 2rem 3rem 0;
    /*mix-blend-mode: overlay;*/
    z-index: 100;
    padding: 5px 15px;
    text-align: center;
    /*background-color: black;*/
	z-index: -10;
}


#jumbo-div h1 {
/*	background: url(../images/video1.mp4);*/
	color: white;
	z-index: 100;
	font-size: 12em;
}

.jumbotron-cover {

}

#navbar {
	z-index: 200;
}







